include README.md
recursive-include docs *
recursive-include flue *.md
recursive-include shared *
recursive-include tools *
recursive-include adapters *
recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
